<html>
<p>Hello {{ username }}</p>
<p>Browse by the following categories:</p>
<ul>
    <li><a href="{% url 'allocation-list' %}">Allocations</a></li>
    <li><a href="{% url 'province-list' %}">Provinces</a></li>
    <li><a href="{% url 'municipality-list'%}">Municipalities</a></li>
    <li><a href="{% url 'authority-list'%}">Authorities</a></li> 
    <li><a href="{% url 'entity-list'%}">Entities</a></li> 
</ul>
{% for i in allocation_list %}
    <h1><a href="{{ i.get_absolute_url }}">Allocation {{ i.serial_number }}</a></h1>
    <p>Municipality: {{ i.municipality }}</p>
    <p>Intended Use: {{ i.intended_use }}</p>
    <p>Current Use: {{ i.current_use }}</p>
{% endfor %}
</html>