h1 {
  color: #FFFFFF;
}
  h1 a {
    color: #FFFFFF;
    text-decoration: none;
  }
  h1 a:hover {
    color: #FAFAFA;
    text-decoration: none;
  }

h2 {
  font-size:20px;
  font-weight: 400;
  color:#FFFFFF;
}
body {
  padding:30px;
}
.Main {
  margin: 0 auto;
  max-width: 1200px;
}
.Content-wrapper {
  margin-top:20px;
  min-height: 600px;
  background-color: #fafafa;
  border-radius: 10px;
  opacity: 0.7;
}
.Content {
  padding: 30px;
}
.HomeSubtitle {
  padding-bottom:30px;
}
.navbar {
  border-radius: 9px 9px 0 0;
}